.sticky {
  display: block;
}

.post,
.page {
  margin: 0 0 1.5em;
}

.updated:not(.published) {
  display: none;
}

.page-content,
.entry-content,
.entry-summary {
  margin: 1.5em 0 0;
}

.page-links {
  clear: both;
  margin: 0 0 1.5em;
}

.main-container {
  max-width: 1170px;
  width: 95%;
  margin: 0 auto;
  &--job {
    max-width: 770px;
  }
}

.main-container.contact-us {
  width: 100%;
  max-width: 100%;
}

.header__container {
  flex-flow: row wrap;
  display: flex;
  margin: 0 auto;
}

main {
  position: relative;
  z-index: 50;
  margin-top: 80px;
  height: 100%;
  padding-top: 80px;
  background: $color__background-body;
}

.title {
  margin-bottom: 38px;
  text-align: center;
  &__head {
    margin: 0 0 25px 0;
    font-size: 2.8125rem;
    font-weight: 300;
    line-height: 1.2;
    letter-spacing: -1px;
    color: $color-text-title;
  }
  &__text {
    margin: auto;
    max-width: 60%;
    font-size: 1.25rem;
    line-height: 1.5;
    letter-spacing: 0.21px;
  }
}

.filter {
  margin-bottom: 110px;
  &__wrap {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 28px;
    button[type="submit"] {
      position: absolute;
      opacity: 0;
      visibility: hidden;
    }
    &--input {
      position: relative;
      -ms-flex-preferred-size: 58%;
      flex-basis: 58%;
      max-width: 58%;
      height: 100%;

      &:before {
        content: "";
        position: absolute;
        left: 4.7%;
        top: 30%;
        width: 30px;
        height: 30px;
        background-image: url(assets/image/-e-search.svg);
        background-repeat: no-repeat;
        background-size: contain;
      }
    }
    &--dropdown {
      position: relative;
      -ms-flex-preferred-size: 27.4%;
      flex-basis: 27.4%;
      -ms-flex-negative: 0;
      flex-shrink: 0;
      -webkit-transition: all 0.3s ease-in;
      -o-transition: all 0.3s ease-in;
      transition: all 0.3s ease-in;
      max-width: 27.4%;
      &-last button {
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;
      }
      &:focus {
        border-color: $color-text-title;
        outline: none;
      }
      &:hover .dropdown__btn,
      &:focus .dropdown__btn {
        -webkit-transition: all 0.3s ease-in;
        -o-transition: all 0.3s ease-in;
        transition: all 0.3s ease-in;
        border-color: $color-text-title;
        & + .dropdown__wrapper {
          opacity: 1;
          visibility: visible;
          -webkit-transition: all 0.2s ease-in-out;
          -o-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out;
        }
        &:before {
          -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          transform: rotate(45deg);
          border-top-color: $color__link-hover;
        }
      }
    }
  }
  &__input {
    width: 100%;
    height: 100%;
    &[type="text"] {
      padding: 18.5px 65px;
      &::-webkit-input-placeholder {
        font-family: "Roboto";
        font-weight: 300;
        color: $color-text-search-field;
      }
      &::-moz-placeholder {
        font-family: "Roboto";
        font-weight: 300;
        color: $color-text-search-field;
      }
      &:-ms-input-placeholder {
        font-family: "Roboto";
        font-weight: 300;
        color: $color-text-search-field;
      }
      &::-ms-input-placeholder {
        font-family: "Roboto";
        font-weight: 300;
        color: $color-text-search-field;
      }
      &::placeholder {
        font-family: "Roboto";
        font-weight: 300;
        color: $color-text-search-field;
      }
    }
    -webkit-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    border: 1px solid $color-input-search-border;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    background-color: $color-input-search-bg;
    font-size: 1.1875rem;
    font-weight: 300;
    letter-spacing: 0.3px;
    color: $color-text-search-field;
    &:focus {
      -webkit-transition: all 0.3s ease-in;
      -o-transition: all 0.3s ease-in;
      transition: all 0.3s ease-in;
      border-color: $color-text-title;
    }
    &-del {
      position: absolute;
      top: 50%;
      right: 5%;
      opacity: 0;
      -webkit-transition: all 0.3s ease-in;
      -o-transition: all 0.3s ease-in;
      transition: all 0.3s ease-in;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      width: 20px;
      height: 20px;
      background-image: url(assets/image/cross.svg);
      background-repeat: no-repeat;
      background-size: contain;
      cursor: pointer;
      &--show {
        opacity: 1;
        -webkit-transition: all 0.3s ease-in;
        -o-transition: all 0.3s ease-in;
        transition: all 0.3s ease-in;
      }
    }
  }

  .dropdown {
    &__btn {
      position: relative;
      -webkit-transition: all 0.3s ease-in;
      -o-transition: all 0.3s ease-in;
      transition: all 0.3s ease-in;
      overflow: hidden;
      border: 1px solid $color-input-search-border;
      border-left-color: transparent;
      width: 100%;
      height: 100%;
      padding: 0 40px 0 23px;
      background-color: $color-input-search-bg;
      font-size: 1.1875rem;
      line-height: 3.9375rem;
      font-weight: 300;
      letter-spacing: 0.46px;
      text-align: left;
      white-space: nowrap;
      -o-text-overflow: ellipsis;
      text-overflow: ellipsis;
      color: $color-text-search-field;
      &:before {
        content: "";
        position: absolute;
        top: calc(50% - 0.25em);
        right: 8.1%;
        -webkit-transform: rotate(-135deg);
        -ms-transform: rotate(-135deg);
        transform: rotate(-135deg);
        -webkit-transition: all 0.3s ease-in;
        -o-transition: all 0.3s ease-in;
        transition: all 0.3s ease-in;
        border-left: 1px solid $color-header-border;
        border-top: 1px solid $color-header-border;
        width: 8px;
        height: 8px;
      }
    }
    &__wrapper {
      position: absolute;
      z-index: 50;
      top: calc(100% + 10px);
      right: 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      visibility: hidden;
      opacity: 0;
      -webkit-transition: all 0.2s ease-in;
      -o-transition: all 0.2s ease-in;
      transition: all 0.2s ease-in;
      -webkit-box-shadow: 0 10px 50px rgba(0, 0, 0, 0.07);
      box-shadow: 0 10px 50px rgba(0, 0, 0, 0.07);
      border-radius: 30px;
      min-width: 100%;
      padding: 30px;
      background-color: $color-white;
      &--double {
        .dropdown__content {
          min-width: 190px;
        }
        :nth-child(1).dropdown__content {
          margin-right: 30px;
        }
      }
    }
    &__content {
      width: 100%;
      &--academy {
        .dropdown__item--head {
          color: $color-text-green;
        }
        .dropdown__item label:not(.checkbox-toggle-label):before {
          border-color: $color-text-green;
        }
        .dropdown__item label:hover:before {
          background-color: $color-text-green;
        }
        .dropdown__item .dropdown__checkbox:checked + label:before {
          background-color: $color-text-green;
        }
      }
    }
    &__items {
      width: 100%;
    }
    &__item {
      font-size: 1.0625rem;
      font-weight: 300;

      label {
        position: relative;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        cursor: pointer;
        line-height: 1.8;
        &:not(.checkbox-toggle-label):before {
          content: "";
          top: 6px;
          left: 0;
          -webkit-transition: all 0.3s ease-in;
          -o-transition: all 0.3s ease-in;
          transition: all 0.3s ease-in;
          margin-right: 10px;
          border: 1px solid $color-text-title;
          border-radius: 6px;
          width: 18px;
          height: 18px;
          background-size: 11px 10px;
          background-repeat: no-repeat;
          background-position: center;
        }
        &:hover:before {
          background-color: $color-text-title;
        }
        &.checkbox-toggle-label {
          display: block;
          padding-top: 12px;
        }
      }

      input {
        position: absolute;
        opacity: 0;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        height: 0;
        width: 0;
      }

      span {
        margin-left: auto;
        font-size: 0.875rem;
        font-weight: 400;
        text-transform: uppercase;
        color: $color-number-light-grey;
        &.toggle {
          font-size: 0.75rem;
          text-transform: unset;
          text-align: left;
          &-select {
            display: block;
          }
          &-deselect {
            display: none;
          }
        }
      }

      &--head {
        font-size: 0.6875rem;
        font-weight: 400;
        text-transform: uppercase;
        color: $color-text-title;
      }
    }
    &__checkbox {
      &--toggle {
        &.hide {
          + span.toggle-select {
            display: none;
          }
          ~ span.toggle-deselect {
            display: block;
          }
        }
      }
    }
  }

  .dropdown__checkbox:checked + label:before {
    -webkit-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    background-color: $color-text-title;
    background-image: url(assets/image/-e-checkmark.svg);
  }

  & :nth-last-child(2).filter__wrap-dropdown .dropdown__btn {
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
  }

  #svg-sprite {
    display: none;
    symbol path {
      fill: inherit;
    }
  }
  &__posts {
    .filter {
      &__tags {
        position: relative;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        gap: 10px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin-bottom: 40px;
        width: 100%;
      }
      &__tag {
        display: inline-block;
        -webkit-transition: position 0.3s ease-in;
        -o-transition: position 0.3s ease-in;
        transition: position 0.3s ease-in;
        border: 1px solid $color-input-search-border;
        border-radius: 30px;
        padding: 8px 16px 8px 13px;
        background-color: transparent;
        cursor: pointer;
        font-size: 0.875rem;
        font-weight: 400;
        span {
          -webkit-transition: all 0.3s ease-in;
          -o-transition: all 0.3s ease-in;
          transition: all 0.3s ease-in;
          margin-left: 4px;
          font-size: 0.875rem;
          font-weight: 400;
          text-transform: uppercase;
          color: $color-number-light-grey;
        }

        &.is-checked,
        &:hover {
          -webkit-transition: all 0.3s ease-in;
          -o-transition: all 0.3s ease-in;
          transition: all 0.3s ease-in;
          border-color: $color-text-title;
          background-color: $color-text-title;
          color: $color-white-text;
          span {
            -webkit-transition: all 0.3s ease-in;
            -o-transition: all 0.3s ease-in;
            transition: all 0.3s ease-in;
            color: $color-white-text;
          }
        }

        &.tag-hide {
          position: absolute;
          z-index: -1;
          opacity: 0;
          -webkit-transition: position 0.1s ease;
          -o-transition: position 0.1s ease;
          transition: position 0.1s ease;
          ~ .tag-more {
            -webkit-transition: all 0.3s ease-in;
            -o-transition: all 0.3s ease-in;
            transition: all 0.3s ease-in;
          }
        }
        ~ .tag-more {
          &:hover {
            color: $color-white-text;
          }
          -webkit-transition: all 0.3s ease-in;
          -o-transition: all 0.3s ease-in;
          transition: all 0.3s ease-in;
          color: $color-number-light-grey;
        }

        &-layout-mode {
          display: inline-block;
          margin-left: auto;
          font-size: 0;
        }
        &-layout-item {
          margin: 0;
          border-radius: 0;
          svg path {
            fill: $color-unactive-icon;
          }
          &.grid {
            border-top-left-radius: 30px;
            border-bottom-left-radius: 30px;
          }
          &.list {
            border-left-width: 0;
            border-top-right-radius: 30px;
            border-bottom-right-radius: 30px;
          }
          &:hover {
            border-color: $color-input-search-border;
            background-color: $color-white-text;
            svg path {
              fill: $color-text-title;
            }
          }
          &--active {
            background-color: $color-white-text;
            svg path {
              fill: $color-text-title;
            }
          }
        }
      }
      &__items {
        grid-gap: 30px;
        -ms-grid-columns: 1fr 30px 1fr 30px 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        -ms-grid-rows: 1fr 30px 1fr;
        grid-template-rows: 1fr 1fr;
        grid-auto-flow: row;
        display: -ms-grid;
        display: grid;

        &--row {
          display: block;
          .filter__head-items {
            &:hover {
              -webkit-box-shadow: none;
              box-shadow: none;
            }
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            .left-col {
              -ms-flex-preferred-size: 30%;
              flex-basis: 30%;
            }
            .right-col {
              -ms-flex-preferred-size: 65%;
              flex-basis: 65%;
              -webkit-box-orient: horizontal;
              -webkit-box-direction: normal;
              -ms-flex-direction: row;
              flex-direction: row;
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;

              .col-department {
                -ms-flex-preferred-size: 15%;
                flex-basis: 15%;
              }

              .col-location {
                -ms-flex-preferred-size: 25%;
                flex-basis: 25%;
              }

              .col-tags {
                margin: 0 0 0 35px;
              }
            }

            .col-client {
              -ms-flex-preferred-size: 19%;
              flex-basis: 19%;
              margin-left: auto;
            }

            span {
              text-transform: uppercase;
              color: $color-number-light-grey;
            }
          }
          .filter__item,
          .filter__head-items {
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -ms-flex-direction: row;
            flex-direction: row;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: justify;
            -ms-flex-pack: justify;
            justify-content: space-between;
            border-bottom: 1px solid $color-input-search-border;
            border-radius: 0;
            padding: 15px 0;
            background-color: transparent;
            &-head {
              -ms-flex-preferred-size: 30%;
              flex-basis: 30%;
              -webkit-box-align: center;
              -ms-flex-align: center;
              align-items: center;
              margin: 0;
              .filter__item-logo {
                display: none;
              }
              .filter__item-hot {
                margin-left: 10px;
              }
            }
            &-body {
              display: none;
            }
            &-footer {
              -ms-flex-preferred-size: 65%;
              flex-basis: 65%;
              -webkit-box-align: center;
              -ms-flex-align: center;
              align-items: center;
              -webkit-box-pack: unset;
              -ms-flex-pack: unset;
              justify-content: unset;
              margin: 0;
            }
            &-location {
              -ms-flex-preferred-size: 25%;
              flex-basis: 25%;
            }
            &-tags:not(.filter__item-location-tags) {
              margin: 0 0 0 35px;
            }
            &-department-tag {
              -ms-flex-preferred-size: 15%;
              flex-basis: 15%;
              display: block;
            }
            &-logo--footer {
              -ms-flex-preferred-size: 20%;
              flex-basis: 20%;
              -webkit-box-pack: start;
              -ms-flex-pack: start;
              justify-content: flex-start;
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              margin-left: auto;
              .filter__item-logo {
                margin-left: 0;
              }
            }

            &:hover {
              .filter__item-arrow-link {
                left: 25%;
              }
            }
          }
        }
      }

      &__item {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        overflow: hidden;
        -webkit-transition: -webkit-box-shadow,
          -webkit-transition 0.4s ease-in-out;
        transition: -webkit-box-shadow, -webkit-transition 0.4s ease-in-out;
        -o-transition: box-shadow, -o-transition 0.4s ease-in-out;
        transition: box-shadow, transition 0.4s ease-in-out;
        transition: box-shadow, transition 0.4s ease-in-out, -webkit-box-shadow,
          -webkit-transition 0.4s ease-in-out, -o-transition 0.4s ease-in-out;
        border-radius: 20px;
        padding: 24px;
        background-color: $color-white-text;
        text-align: left;

        &:hover {
          -webkit-transition: all 0.4s ease-in-out;
          -o-transition: all 0.4s ease-in-out;
          transition: all 0.4s ease-in-out;
          -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.07);
          box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.07);
          .filter__item-location {
            position: relative;
            opacity: 0;
            -webkit-transform: translateX(200%);
            -ms-transform: translateX(200%);
            transform: translateX(200%);
            -webkit-transition: all 0.4s ease-in-out;
            -o-transition: all 0.4s ease-in-out;
            transition: all 0.4s ease-in-out;
          }
          .filter__item-arrow-link {
            left: 15%;
            opacity: 1;
            -webkit-transition: all 0.6s cubic-bezier(0, -1.6, 0.6, 2);
            -o-transition: all 0.6s cubic-bezier(0, -1.6, 0.6, 2);
            transition: all 0.6s cubic-bezier(0, -1.6, 0.6, 2);
          }
        }

        &-head {
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
          -ms-flex-direction: row;
          flex-direction: row;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          margin: 0 0 12px 0;
        }
        &-caption {
          margin: 0;
          font-size: 1.125rem;
          font-weight: 400;
          letter-spacing: -0.1px;
        }
        &-hot {
          margin-left: 10px;
          border-radius: 30px;
          width: 33px;
          min-width: 33px;
          height: 21px;
          background-color: $hot-bg;
          font-size: 0.75rem;
          line-height: 1.8;
          text-align: center;
          color: $color-text-title;
        }
        &-logo {
          margin-left: auto;
          max-width: 100px;
          max-height: 50px;
          &--footer {
            display: none;
          }
        }
        &-body {
          margin-bottom: 9px;
        }
        &-description {
          margin: 0;
          max-width: 99%;
          font-size: 1rem;
          letter-spacing: 0.2px;
          font-weight: 300;
        }
        &-footer {
          position: relative;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
          -ms-flex-direction: row;
          flex-direction: row;
          -webkit-box-pack: justify;
          -ms-flex-pack: justify;
          justify-content: space-between;
          -ms-flex-line-pack: center;
          align-content: center;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          margin-top: auto;
        }
        &-arrow-link {
          position: absolute;
          top: 50%;
          left: -150%;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
          -ms-flex-direction: row;
          flex-direction: row;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          opacity: 0;
          -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
          -webkit-transition: all 0.5s ease-in-out;
          -o-transition: all 0.5s ease-in-out;
          transition: all 0.5s ease-in-out;
          font-weight: 400;
          font-size: 1rem;
          color: $color-text-title;

          svg {
            min-width: 30px;
            margin-left: 8px;
          }
        }
        &-department-tag {
          display: none;
        }
        &-location {
          -ms-flex-preferred-size: 60%;
          flex-basis: 60%;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
          -ms-flex-direction: row;
          flex-direction: row;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          opacity: 1;
          overflow: hidden;
          -webkit-transition: all 0.5s ease-in-out;
          -o-transition: all 0.5s ease-in-out;
          transition: all 0.5s ease-in-out;

          svg {
            margin-right: 7px;
            min-width: 11px;
            height: auto;
          }
        }
        &-tags {
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
          -ms-flex-direction: row;
          flex-direction: row;
          -ms-flex-wrap: wrap;
          flex-wrap: wrap;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
        }
        &-tag {
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          font-size: 1rem;
          line-height: 1.6;
          color: $color-number-light-grey;
          span {
            display: none;
          }
          &:not(:last-of-type) {
            svg {
              margin-right: 10px;
            }
          }

          &:last-of-type i {
            display: none;
          }
          &[data-tag="Hot"] {
            display: none;
          }
          &-icon {
            width: 30px;
            height: 30px;
          }
        }

        &.offices {
          .filter__item-location svg {
            path {
              fill: $color-text-title;
            }
          }
          .filter__item-tag-icon {
            fill: $color-text-title;
          }
        }
        &.academies {
          .filter__item-location svg {
            path {
              fill: $color-text-green;
            }
          }
          .filter__item-tag-icon {
            fill: $color-text-green;
          }
        }
      }
      &__head-items {
        display: none;
      }
    }
  }
}

.contact-us {
  position: relative;
  z-index: 1;
  padding: 63px 0 63px;
  background: $color-white-text;
  &:after {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    bottom: 0;
    -webkit-transform: skewY(-1deg);
    -ms-transform: skewY(-1deg);
    transform: skewY(-1deg);
    -webkit-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
    overflow: visible;
    width: 100%;
    height: 100%;
    background: $color-white-text;
  }
  .contact-us__wrap {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .contact-us__title {
    margin: 0 30px 0 0;
    font-size: 1.125rem;
    line-height: 36px;
    font-weight: 300;
    letter-spacing: 0.6px;
    color: $color-footer-black;
  }
  .contact-us__btn {
    display: inline-block;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    border: 1px solid $contact-us-btn-border;
    border-radius: 28px;
    padding: 0 15px 0 15.5px;
    background-color: transparent;
    font-size: 0.9375rem;
    line-height: 38px;
    font-weight: 300;
    color: $color-text-title;
    &:hover {
      border-color: $color-text-title;
      background-color: $color-text-title;
      color: $color-white-text;
    }
  }
}

#svg-sprite {
  display: none;
}

.job {
  text-align: left;
  &__header {
    position: relative;
    z-index: 1;
    padding-bottom: 85px;
    &:after {
      content: "";
      position: absolute;
      z-index: -1;
      left: 0;
      bottom: 0;
      -webkit-transform: skewY(-1deg);
      -ms-transform: skewY(-1deg);
      transform: skewY(-1deg);
      -webkit-transform-origin: 100% 100%;
      -ms-transform-origin: 100% 100%;
      transform-origin: 100% 100%;
      overflow: visible;
      width: 100%;
      height: 100%;
      background: $color__background-body;
    }
  }
  &__title {
    margin: 0 0 15px 0;
    font-size: 2.1875rem;
    font-weight: 300;
    line-height: 45px;
    letter-spacing: -0.5px;
    &--head {
      margin: 0 0 23px 0;
      font-size: 3.75rem;
      font-weight: 300;
      line-height: 4rem;
      letter-spacing: -1.3px;
    }
    &--form {
      margin: 0 0 62px 0;
      font-size: 2.8125rem;
      font-weight: 300;
      line-height: 55px;
      letter-spacing: -1px;
    }
    &--socials {
      font-size: 1.75rem;
      font-weight: 300;
      line-height: 45px;
      letter-spacing: -0.4px;
    }
  }
  &__short-description {
    margin: 0 0 28px 0;
    max-width: 75%;
    font-size: 1.25rem;
    letter-spacing: 0.2px;
  }

  &__header-menu {
    flex-direction: row;
    align-items: center;
    display: flex;
  }

  &__header-btn {
    display: inline-block;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    border: 1px solid $color-text-title;
    border-radius: 28px;
    padding: 0 28px 0 24px;
    background-color: $color-text-title;
    font-size: 1.0625rem;
    line-height: 50px;
    font-weight: 300;
    white-space: nowrap;
    color: $color-white-text;
    &:hover {
      border-color: $contact-us-btn-border;
      background-color: transparent;
      color: $color-text-title;
    }
  }

  &__locations,
  &__tags {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  &__locations {
    flex-wrap: wrap;
    margin-left: 60px;
    width: 200px;
  }

  &__location {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 1.125rem;
    line-height: 1.2;
    color: $color-number-light-grey;
    &:last-of-type i {
      display: none;
    }
  }
  &__tags {
  }
  &__tag {
    svg {
      width: 36px;
      height: 35px;
    }
    &:not(:last-of-type) {
      svg {
        margin-right: 10px;
      }
    }
    &.Hot {
      display: none;
    }
  }

  &__company-logo {
    margin-left: auto;
    max-width: 120px;
    max-height: 60px;
  }
  &__content {
    padding: 120px 0 105px;
    background-color: $color-white-text;
  }
  &__secondary-description {
    max-width: 85%;
    margin: 0 0 35px 0;
    font-size: 1.25rem;
    line-height: 30px;
    letter-spacing: 0.2px;
  }
  &__advantages {
    margin-bottom: 35px;
    &:last-of-type {
      margin: 0;
    }

    &-list {
    }
  }
  &__advantage {
    position: relative;
    margin-left: 20px;
    font-size: 1.0625rem;
    line-height: 25px;
    letter-spacing: 0.2px;
    &:before {
      content: "";
      position: absolute;
      top: 11px;
      left: -2%;
      transform: translate(-50%, -50%);
      display: inline-block;
      border: 1px solid rgba(224, 98, 135, 0.8);
      border-radius: 50%;
      width: 7px;
      height: 7px;
    }
  }
}

.job__footer {
  background-color: $color-white-text;
}

.benefits {
  padding: 95px 0 110px;
  background: $color__background-body;
  h2 {
    margin-bottom: 60px;
  }
  &__grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-gap: 40px;
    display: grid;
    padding: 26px 0 0 7px;
  }
}

.benefit {
  position: relative;
  padding-left: 70px;
  span {
    font-size: 1.0625rem;
    line-height: 25px;
    letter-spacing: 0.2px;
  }
  svg {
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translate(-50%, -50%);
    max-width: 60px;
    max-height: 50px;
  }

  &__img {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    display: flex;
    padding-left: 0;

    img {
      display: inline-block;
      width: 100%;
      height: auto;
      max-width: 50px;
    }
    span {
      flex-basis: 80%;
    }
  }
}

.apply-form {
  padding: 108px 0;
  &__item {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    display: flex;
  }
  br {
    display: none;
  }
  i {
    padding-left: 5px;
    color: $color-text-title;
  }
  &__data-field {
    position: relative;
    flex-basis: 30%;
    max-width: 30%;

    label {
      position: absolute;
      top: -6px;
      left: 0;
      transition: all 0.3s ease-in-out;
      font-size: 1.0625rem;
      line-height: 25px;
      pointer-events: none;
    }
    input {
      transition: all 0.3s ease-in-out;
      width: 100%;
      background: none;
      border: none;
      border-bottom: 1px solid $color-input-search-border;
      &.wpcf7-not-valid {
        transition: all 0.3s ease-in-out;
        border-color: $color-text-title;
      }
      &:focus {
        transition: all 0.3s ease-in-out;
        border-color: $color-text-title;
      }
    }

    &:focus-within {
      label {
        top: -20px;
        transition: all 0.3s ease-in-out;
        font-size: 0.625rem;
        color: $color-input-search-border;
      }
    }

    &:nth-child(4) {
      flex-basis: 100%;
      margin: 45px 0 40px;
      max-width: 100%;
      input {
        width: 100%;
      }
    }
  }
  &__attach {
    flex-basis: 100%;
    justify-content: space-between;
    display: flex;
    margin-bottom: 38px;
    max-width: 100%;
    &-field {
      flex-basis: 48%;
      font-size: 1.0625rem;
      line-height: 25px;
      label {
        &:nth-child(1) {
          margin-right: 24px;
        }
      }
      input[type="file"] {
        display: none;
      }
    }
    &-link {
      &,
      label {
        transition: all 0.3s ease-in-out;
        margin-right: 6.5px;
        cursor: pointer;
        text-transform: uppercase;
        font-size: 0.75rem;
        line-height: 16px;
        letter-spacing: 0.8px;
        color: $color-text-title;
        &:hover {
          transition: all 0.3s ease-in-out;
          color: $color-input-search-border;
        }
      }
    }
  }
  &__checkboxes {
    margin-bottom: 20px;
  }
  &__checkbox-field {
    position: relative;
    display: block;
    padding-left: 30px;
    font-size: 0.875rem;
    line-height: 19px;
    color: $color-text-email-input;
    cursor: pointer;
    input {
      cursor: pointer;
      height: 0;
      width: 0;
      &:checked:after {
        transition: all 0.3s ease-in-out;
        background-color: $color-text-title;

        background-image: url(assets/image/-e-checkmark.svg);
      }
      &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        transition: all 0.3s ease-in-out;
        width: 17px;
        height: 17px;
        border: 1px solid $color-text-title;
        border-radius: 30%;
        background-size: 11px 10px;
        background-repeat: no-repeat;
        background-position: center;
      }
    }
    .apply-form__attach-link {
      margin: 0;
      font-size: 0.875rem;
      letter-spacing: 0;
      text-transform: none;
    }

    &:first-of-type {
      margin-bottom: 20px;
    }
  }
  input[type="submit"] {
    transition: all 0.3s ease-in-out;
    border: 1px solid $color-text-title;
    border-radius: 28px;
    padding: 0 28px 0 24px;
    background-color: $color-text-title;
    font-size: 1.0625rem;
    line-height: 50px;
    font-weight: 300;
    white-space: nowrap;
    color: $color-white-text;
    &:hover {
      border-color: $contact-us-btn-border;
      background-color: transparent;
      color: $color-text-title;
    }
  }

  .wpcf7 form {
    position: relative;
  }

  .wpcf7 .wpcf7-response-output {
    position: absolute;
    left: 25%;
    bottom: 5%;
    margin: 0;
    padding: 0;
    font-size: 0.9375rem;
    line-height: 23px;
  }

  .wpcf7 form.sent .wpcf7-response-output {
    border: none;
    color: #46b450; /* Green */
    &:before {
      content: "";
      position: absolute;
      top: 15%;
      left: -5%;
      transition: all 0.3s ease-in-out;
      width: 15px;
      height: 15px;
      background-image: url(assets/image/-e-checkmark.svg);
      background-size: 11px 10px;
      background-repeat: no-repeat;
      background-position: center;
      filter: invert(0.1) contrast(0.5) saturate(0.8) sepia(0.6);
    }
  }

  .wpcf7 form.failed .wpcf7-response-output,
  .wpcf7 form.aborted .wpcf7-response-output {
    border: none;
    color: #dc3232; /* Red */
  }

  .wpcf7 form.spam .wpcf7-response-output {
    border: none;
    color: #f56e28; /* Orange */
  }

  .wpcf7 form.invalid .wpcf7-response-output,
  .wpcf7 form.unaccepted .wpcf7-response-output,
  .wpcf7 form.payment-required .wpcf7-response-output {
    border: none;
    color: #ffb900; /* Yellow */
  }
}

.socials {
  position: relative;
  padding: 81px 0;
  background: $color__background-body;
  &__content {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    display: flex;
    .socials__title {
      margin: 0;
    }
    .socials__icons {
      flex-direction: row;
      display: flex;
    }
    .socials__icon {
      transition: all 0.3s ease-in-out;
      margin-right: 5px;
      cursor: pointer;
      &--custom {
        max-width: 39px;
        max-height: 39px;

        img {
          width: 100%;
          height: auto;
          min-width: 39px;
          min-height: 39px;
          border-radius: 50%;
        }
      }
      svg {
        max-width: 39px;
        max-height: 39px;
      }

      &:hover {
        transition: all 0.3s ease-in-out;
        opacity: 0.7;
      }
    }
  }
  &:after {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    bottom: 0;
    -webkit-transform: skewY(-1deg);
    -ms-transform: skewY(-1deg);
    transform: skewY(-1deg);
    -webkit-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
    overflow: visible;
    width: 100%;
    height: 100%;
    background: $color__background-body;
  }
}
@media only screen and (max-width: 1024px) {
  .filter__item-tags:not(.filter__item-location-tags) {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
}
@media only screen and (max-width: 992px) {
  .filter__posts .filter__items {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .job__short-description {
    max-width: 100%;
    br {
      display: none;
    }
  }

  .job__header-menu {
    flex-direction: column;
    & > *:not(:last-child) {
      margin-bottom: 30px;
    }
  }
  .job__locations {
    justify-content: center;
    margin-left: 0;
    width: 100%;
  }

  .job__company-logo {
    margin-left: 0;
  }

  .job__header {
    padding-bottom: 65px;
  }
  .job__secondary-description {
    max-width: 100%;
  }
  .job__content {
    padding: 80px 0 85px;
  }

  .benefit svg {
    left: -20%;
    transform: translate(-50%, -50%) scale(2);
    max-width: 50px;
    max-height: 100%;
    height: 50px;
  }

  .benefit__img {
    img {
      position: absolute;
      top: 50%;
      left: -20%;
      transform: translate(-50%, -50%);
      display: inline-block;
      width: 100%;
      height: auto;
      max-width: 75px;
    }
    span {
      max-width: 100%;
    }
  }

  .benefit {
    justify-self: flex-end;
    max-width: 75%;
    padding-left: 0;
  }

  .apply-form__item {
    flex-direction: column;
  }

  .apply-form__data-field {
    max-width: 100%;
    flex-basis: 100%;
    margin-bottom: 30px;
  }

  .apply-form__data-field:nth-child(4) {
    margin-top: 0;
  }
}
@media only screen and (max-width: 768px) {
  .filter__wrap {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    height: 100%;
  }
  .filter__wrap--input {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    margin-bottom: 15px;
    max-width: 100%;
    height: 65px;
  }

  .filter__input {
    border-radius: 30px;
  }
  .filter__wrap--dropdown {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
    min-height: 65px;
  }

  .filter__input[type="text"] {
    padding: 0 80px;
  }

  .filter__wrap--dropdown:not(.filter__wrap--dropdown-last) button {
    border-left-color: $color-input-search-border;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
  }
  .dropdown__btn {
    padding: 0 35px 0 25px;
  }
  .dropdown__wrapper.dropdown-location-btn {
    left: 0;
    right: -100%;
  }
  .dropdown__wrapper.dropdown__wrapper--double {
    left: -100%;
  }

  .filter__posts
    .filter__items--row
    .filter__head-items
    .right-col
    .department {
    -ms-flex-preferred-size: 20%;
    flex-basis: 20%;
  }

  .filter__posts .filter__items--row .filter__item-department-tag,
  .filter__posts .filter__items--row .filter__head-items-department-tag {
    -ms-flex-preferred-size: 20%;
    flex-basis: 20%;
    display: block;
  }

  .main-container--job {
    width: 90%;
  }

  .benefit {
    max-width: 75%;
    padding-right: 15%;
  }

  
  .benefit__img {
    padding: 0;
  }

  .benefit svg {
    transform: translate(-50%, -50%) scale(1.5);
  }

  .apply-form__attach {
    flex-direction: column;
  }

  .apply-form__attach-field {
    &:nth-child(1) {
      margin-bottom: 30px;
    }
  }

  .socials__content {
    flex-direction: column;
    .socials__title {
      margin-bottom: 20px;
    }
  }

  .footer-menus {
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 767px) {
  .filter__posts .filter__tag-layout-mode {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .filter__posts .filter__items {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .filter__posts .filter__tag-layout-mode {
    display: none;
  }

  .benefits__grid {
    grid-template-columns: 1fr;
  }
  .benefit svg {
    transform: translate(-50%, -50%) scale(2);
  }

}
@media only screen and (max-width: 480px) {
  .header .custom-logo {
    max-width: 100px;
  }
  .dropdown__wrapper--double :nth-child(1).dropdown__items {
    margin-right: 10px;
  }

  .dropdown__wrapper.dropdown__wrapper--double {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .dropdown__wrapper--double .dropdown__items {
    min-width: auto;
  }

  .benefits__grid {
    grid-template-columns: repeat(2, 1fr);

    padding: 26px 0 0 15px;
}

  .job__title--socials {
    font-size: 1.5rem;
  }
}
